header {
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  text-shadow: 2px 2px #111;
  text-align: center;
  color: #FFF;
  background-color: #ffb3ba;
  margin: 0px;
  padding: none;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  font-weight: 200;
  color: #FFF;
  background-color: #ffdfba;
  margin: 0px;
  text-align: center;
}

h2 {
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  font-weight: 200;
  color: #FFF;
  background-color: #baffc9;
  text-align: center;
}

.blue {
  background color: #FFF;
}

p {
  font-size: 20px;
  font-family: 'Averia Serif Libre', cursive;
}

body {
  padding: 0px;
  margin: 0px;
}

footer {
  background-color: #bae1ff;
}
