* {
  cursor: url('http://www.rw-designer.com/cursor-extern.php?id=22957'), default;
}

* a:visited {
  color: #000;
}

* a:link {
  color: hotpink;
}

header {
  padding: 45px;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  text-shadow: 2px 2px #111;
  text-align: left;
  color: #FFF;
  background-color: #ffb3ba;
  position: relative;
}

main {
  font-family: 'Averia Serif Libre', cursive;
  line-height: 2em;
}

nav {
  height: 50px;
  width: 100%;
  position: relative;
  font-family: 'Averia Serif Libre', cursive;
  color: #777;
  font-size: 25px;
}

nav > ol > li {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
 }

h1, h2, h3 {
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  font-weight: 200;
  color: #FFF;
  text-align: left;
  padding: 20px;
  position:
}

h1 {
  background-color: #fcd683;
  text-shadow: 2px 2px #FFB070;
}

.image {
  width: 200px;
  height: 200px;
  display: inline-block;
  float: right;
  border-radius: 100%;
  z-index: 99;
  padding: 5px;

}

.image:hover {
  box-shadow: 0px 0px 100px #fff;
}
main > p {
  background-color:  #fce2a9;
  padding: 20px;
}

.education {
  background-color: RGBA(255, 250, 85, 0.8);
  text-shadow: 2px 2px #494608;
}

.places {
  background-color: #FFFBA0;
}

* > li {
  padding: 10px;
  text-indent: 10px;
}

.skills li:before {
  content: "❤ ";
  padding: 10px;
  text-indent: 10px;
}

.skillz {
  background-color: #a3e27f;
}

.skills {
  background-color: RGBA(163,226,127,0.5);
  padding: 20px;
}

.experiences {
  background:rgba(62,201,167,0.7);
  text-shadow: 2px 2px RGBA(62,201,167,1);
}

.experience {
  background:rgba(110, 195,249,0.5);
  padding: 20px;
}

.employers {
  background-color: #89DDFF;
  text-shadow: 2px 2px #6EC3D8;
}

.quotes {
  background-color: rgba(137, 221, 255, 0.78);
  padding: 30px;
}

h3 {
  background-color: #ffdfba;
}

.volunteer {
  background: RGBA(92, 73, 178, 0.69);
  text-shadow: 2px 2px #5C49B2;
}

.volunteerstuff {
  padding: 10px;
  text-align: center;
  background-color: #D0C8F4;
}

.volunteerstuff li:before {
  content: "❤ ";
  padding: 10px;
  text-indent: 10px;
}

footer {
  color: #fff;
  background-color: #5C49B2;
  padding: 30px;
  text-align: center;
}

footer > a {
  color: white;
}

footer > a:hover {
  color: hotpink;
}
